.light-theme {
    --primary-backgroundcolor: #FFFFFF;
    --secondary-backgroundcolor: #F2F1EC;
    --primary-textcolor: #333333;
    --secondary-textcolor: #555555;
    --accent-color: #008080;
}

.dark-theme {
    --primary-backgroundcolor: #181818;
    --secondary-backgroundcolor: #1F1F1F;
    --primary-textcolor: #E0E0E0;
    --secondary-textcolor: #B0B0B0;
    --accent-color: #66CCCC;
}

html, body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    background-color: var(--primary-backgroundcolor);
    min-width: 100%;
    max-width: 100%;
    overflow-x: hidden !important;
    color: var(--primary-textcolor);
}

a {
    text-decoration: none !important;
    color: inherit;
}

a:hover {
    text-decoration: none !important;
    color: inherit;
}

a:visited {
    text-decoration: none !important;
    color: inherit;
}

.topbar {
    padding: 5%;
    padding-top: 3%;
    text-align: center;
    font-weight: 500;
    font-size: 1.1rem;
}

.topbar-name {
    font-weight: 600;
    font-size: 1.2rem;
    color: var(--accent-color);
}

.topbar-menu:hover {
    font-weight: 600;
    font-size: 1.2rem;
    color: var(--accent-color);
}

#topbar-theme-icon:hover {
    font-weight: 600;
    font-size: 1.2rem;
    cursor: pointer;
}

.intro-text {
    font-weight: 700;
    font-size: 3rem;
    color: var(--primary-textcolor);
}

.intro-tagline {
    font-weight: 500;
    font-size: 1.25rem;
    color: var(--secondary-textcolor);
}

.highlight {
    color: var(--accent-color);
}

.social-icon {
    display: inline-block;
    font-size: 1.25rem;
}

.social-icon:hover {
    color: var(--accent-color);
    font-weight: 600;
}

section {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 6%;
    padding-bottom: 6%;
}

section row {
    margin: 0px !important;
}

.research-patents {
    background-color: var(--secondary-backgroundcolor);
}

.research {
    background-color: var(--primary-backgroundcolor);
    width: 100%;
    padding: 5%;
    border-radius: 16px;
}

.patents {
    background-color: var(--primary-backgroundcolor);
    width: 100%;
    padding: 5%;
    border-radius: 16px;
}

.section-header {
    font-weight: 700;
    font-size: 1.5rem;
    color: var(--accent-color);
}

.sub-section {
    background-color: var(--secondary-backgroundcolor);
    width: 100%;
    padding: 2%;
    border-radius: 16px;
}

.sub-section:hover {
    transform: scale(1.025);
}

.sub-section-header {
    font-weight: 600;
    font-size: 1.25rem;
    color: var(--primary-textcolor);
}

.sub-section-tagline {
    font-weight: 500;
    font-size: 1rem;
    color: var(--secondary-textcolor);
}

.highlights {
    background-color: var(--primary-backgroundcolor);
}

.highlight-section {
    background-color: var(--secondary-backgroundcolor);
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    padding: 0px;
    border-radius: 32px;
    aspect-ratio: 1 / 1;
    overflow: hidden;
}

.highlight-section:hover {
    opacity: 0.75;
    transform: scale(1.025);
}

.highlight-section-topbar {
    width: 100%;
    padding: 5%;
    padding-bottom: 2%;
}

.highlight-section-topbar-text {
    padding: 1.75%;
    background-color: var(--primary-backgroundcolor);
    border-radius: 16px;
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--primary-textcolor);
}

.gallery {
    background-color: var(--secondary-backgroundcolor);
    padding-bottom: 0px;
}

.gallery-grid {
    background-color: var(--secondary-backgroundcolor);
    padding-bottom: 8%;
}

.gallery-grid div {
    margin: 0px;
    padding: 0px;
}

.footer-info {
    background-color: var(--primary-backgroundcolor);
    font-size: 0.8rem;
    text-align: center;
    padding-bottom: 3%;
}

.footer-info-name {
    font-weight: 600;
    color: var(--accent-color);
}

.socials {
    display: inline-block;
}

.socials:hover {
    color: var(--accent-color);
    font-weight: 600;
    font-size: 0.9rem;
}